# This is Git's per-user configuration file.
[user]
	name = Ruben Restrepo
	email = ruben@stateful.com
[alias]
	wip = !read -p \"Enter issue number: \" issue  && read -p \"What feature are you working on?:\" name  && git checkout -b \"wip/bencho/$issue-$name\"
	ready = !git branch -m \"$(git branch --show-current | sed \"s/wip\\///g\")\"
	copy = !git branch --show-current | pbcopy
	alias = !git config --get-regexp alias
	ls = !git branch --list | grep "wip"
	cp = !git branch --show-current | pbcopy
	main = !git branch --show-current | pbcopy | git checkout main
[init]
	defaultBranch = main
